.product-container {
    border: 1px solid black;
    border-radius: 20px;
    height: 11rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: beige;
}
